@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
}

.page-container {
    max-width: 1000px;
    margin: 0 auto;
}


/* section-home-page-start */
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../image/home-page-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}



.header-icon {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.icons ul {
    display: flex;
}

.icons ul li {
    list-style: none;
}

.icons ul li a {
    padding-right: 15px;
    text-decoration: none;
    color: #4e5a62;
}

.icons ul li a:hover {
    color: brown;
}

.icons ul li a span:hover {
    color: brown;
}

.header-nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.header-buttons {
    width: 375px;
    display: flex;
}

.header-logo {
    width: 250px;
    display: flex;
    justify-content: flex-end;
}

.header-buttons ul {
    display: flex;
}

.header-buttons ul li {
    list-style: none;
    font-weight: 600;
}

.header-buttons ul li a {
    padding-right: 30px;
    text-decoration: none;
    color: #333;
}

.header-buttons ul li a:hover{
    color: brown;
}

.header-logo ul li {
    list-style: none;
}

.header-logo ul li img {
    height: 90px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}


.text {
    width: 60%;
    height: 300px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.text h1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.text h5 {
    font-weight: normal;
    margin-bottom: 15px;
}

.text span {
    width: 36%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text span a {
    padding: 8px 15px;
    text-decoration: none;
    background: rgb(202, 165, 30);
    border-radius: 50px;
    color: #4e5a62;
}

.text span a:hover {
    color: white;
}

/* section-home-page-end */