@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
}




/* section-home-page-start */
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../image/home-page-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 200px;
}

h1 {
    font-family: 'Roboto',
        sans-serif;
    font-weight: 300;
    padding-top: 20px;
    font-size: 16px;
}

.header-icon{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.icons ul {
    display: flex;
}

.icons ul li{
    list-style: none;
}

.icons ul li a{
    padding: 7px;
    text-decoration: none;
    color: #4e5a62;
}

.icons ul li a:hover{
    color: rgb(202, 165, 30);
}

.icons ul li span{
    margin-left: 5px;
}

.icons ul li a span:hover{
        color: #4e5a62;
}

.header-nav{
    width: 100%;
    height: 100px;
}

.header-nav ul{
    display: flex;
    align-items: center;
    padding-left: 140px;
}

.header-nav ul li{
    list-style: none;
}

.header-nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: #4e5a62;
}

.header-nav ul li a:hover{
    color: rgb(202, 165, 30);
}

.header-nav ul li img{
    height: 90px;
    margin-left: 170px; 
    margin-right: 130px;
}

.text{
    width: 50%;
    height: 300px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.text h5{
    margin: 0 35px;
    font-weight: normal;
    margin-bottom: 15px;
}

.text span{
    width: 36%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text span a{
    padding: 8px 15px;
    text-decoration: none;
    background: rgb(202, 165, 30);
    border-radius: 50px;
    color: #4e5a62;
}

.text span a:hover{
    color: white;
}
/* section-home-page-end */

/* services-section-start */
#services{
    width: 100vw;
    height: auto;
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.sect-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-title h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
}

.sect-title h1::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: tomato;
    position: absolute;
    bottom: 0;
    left: 0;
}

.service-box{
    width: 300px;
    height: 480px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-1{
    background-color: teal;
}

.service-box img{
    height: 245px;
    border-radius: 20px;
}

.service-box h2{
    font-size: 16px;
    font-weight: 400;
}

.service-box p{
    line-height: 20px;

}

.service-box span a{
        padding: 8px 15px;
        text-decoration: none;
        background: rgb(202, 165, 30);
        border-radius: 50px;
        color: #4e5a62;
}

.service-box span a:hover{
    color: white;
}

/* services-section-end */

/* about-us-section-start */
#about-us{
    width: 100vw;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.about-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
}

.about-title h1::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: tomato;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-text-box,
.about-img-box {
    width: 50%;
    padding: 20px;
}

.about-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-box h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 20px;
    position: relative;
}

.about-text-box h3::after{
    content: "";
    width: 15%;
    height: 3px;
    background-color: tomato;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-text-box p{
    line-height: 25px;
    text-align: center;
}

/* .about-img-box{
    background-color: aqua;
} */

.about-img-box img{
    border-radius: 25px;
}
/* about-us-section-end */

/* gallery-section-start */
#gallery{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-title h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
}

.gallery-title h1::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: tomato;
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery-img-box{
    width: 33.33%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img-box img{
    height: 220px;
    width: 408px;
    border-radius: 25px;
}
/* gallery-section-end */

/* footer-section-start */
#footer{
    width: 100vw;
    padding: 0px 10px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-column{
    width: 300px;
    height: 200px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

.footer-column h2{
    font-size: 16px;
    font-weight: 400;
}

.footer-column ul li{
    list-style: none;
        padding: 5px 0px;

}

.footer-column ul li a{
    display: block;
    text-decoration: none;
    color: #333;
}

.footer-column ul li a:hover{
    color: rgb(92, 114, 161);
}

.hidden h2{
    visibility: hidden;
}

.footer-column p{
    line-height: 22px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.footer-bottom{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    background: rgb(26, 25, 25);
    color: white;
    display: flex;
    align-items: center;
}

/* footer-section-end */